/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 10px;
}
.snmp-data {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}
