<!DOCTYPE html>
<html>
    <head>
        <title>SNMP Data</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <style>
            .snmp-data {
                font-size: 20px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="snmp-data">
            <form action="/ip_address" method="post">
                <input type="text" name="ip_address" id="ip_address">
                <input type="submit" value="Submit">
            </form><br><br>
            <div class="sysdescr">
                <h2>Device Name: </h2>
                <p>{{ snmp_data.SysName | safe }}</p>
            </div>
            <div class="sysdescr">
                <h2>SysDescr</h2>
                <p>{{ snmp_data.SysDescr | safe }}</p>
            </div>
            <div class="sysuptime">
                <h2>SysUpTime</h2>
                <p>{{ snmp_data.SysUpTime }}</p>
            </div>
            {% if interface_data %}
                <h3>Interface Data:</h3>
                <ul>
                    {% for interface, status in interface_data %}
                    <li>{{ interface }} - Status: {% if status == "2" %}Down{% else %}Up{% endif %}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </body>
</html>
