<!DOCTYPE html>
<html>
    <head>
        <title>SNMP Data</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <style>
            .snmp-data {
                font-size: 20px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align: center;">SNMP Data</h1>
        <form action="/ip_address" method="post">
            <input type="text" name="ip_address" id="ip_address">
            <input type="submit" value="Submit">
        </form><br><br>
        <div class="snmp-data">
            <div class="sysuptime">
                <h2>SysUpTime</h2>
                <p>{{ snmp_data.SysUpTime }}</p>
            </div>
            <div class="sysdescr">
                <h2>SysDescr</h2>
                <p>{{ snmp_data.SysDescr | safe }}</p>
            </div>
        </div>
    </body>
</html>
